.tituloPasos{
    color: #333;
    text-align: start;
    padding: 16px 8px;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pasos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem 2rem;
}

.paso{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.textoPasos{
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    margin: 2rem 0rem;
    width: 60%;
}

.tituloPaso{
    color: #333;
    font-size: 22px;
    font-style: normal;
    text-align: start;
    font-weight: 500;
    line-height: 32px;
    padding: 1rem;
}

.descripcionPaso{
    color: #333;
    font-size: 18px;
    font-style: normal;
    text-align: start;
    font-weight: 400;
    line-height: 20px;
    padding: 0rem 1rem;
}

