.cardHome{
    width: 30%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items:flex-start;
    align-items: baseline;
    padding: 2rem;
    background-color: #F8F8FB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cardContenedor{
    background-color: #F8F8FB;
    padding: 1rem;
    
}

.tituloCardHome{
    font-size: 22px;
    font-style: bold;
    font-weight: 500;
    line-height: 20px;
    color: #333;
    line-height: 140%;
    text-align: start;
}


.fechaCardHome{
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    color: #5A5A5A;
}


.responsableCardHome{
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    color: #333;
    display: flex;
    align-items: center;
}

.precioCardHome{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}

.botonPrimario{
    border-radius: 6px;
    background: #7F6BB6;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botonSecundario{
    border-radius: 6px;
    border: 2px solid #7F6BB6;
    background: #fff;   
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.linkPrimario{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.linkSecundario{
    color: #7F6BB6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    
}

.botonesCardHome{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    gap: 0.5rem 1rem;
}

.modulo1Home{
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    margin: 1rem 0rem;
}

.modulo2Home{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
    gap: 1rem;
    margin: 4px 0px 12px ;
    padding: 4px 0px;
}
