.olvideContrasena{
color: #333;
text-align: right;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 123.077% */
text-decoration-line: underline;
justify-content: flex-end;
}

.registrarse{
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 1rem;
  flex-wrap: wrap;
}


.registro{
    color: #7F6BB6;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.registro2{
color: #7F6BB6;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 16px;
text-decoration-line: underline;
}

#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #elemento-login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  

  .bPrincipalLog{
    border-radius: 6px;
    border: 2px solid #7F6BB6;
    background: #7F6BB6;   
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.bSecundarioLog{
    display: flex;
    width: 250px;
    border-radius: 6px;
    border: 2px solid #7F6BB6;
    background: #fff;   
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0rem 0rem 4rem 0rem;


}

.botonesLogin{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 4px;
  justify-content: space-between;
  gap: 8px;
}