.cardPDP{
    background-color: #F8F8FB;
}

.imagenPDP{
    padding: 0px 0px 12px 0px;
    max-width: 360px;
}

.titulo{
    font-size: 24px;
    font-style: bold;
    font-weight: 500;
    line-height: 20px;
    color: #333;
}

.dias{
    color: #7F6BB6;
    padding: 8px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.modulo{
    background-color: #fff;
    padding: 0px 0px 8px 0px;
}

.fecha{
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    color: #333;
    padding: 4px 0px 8px 0px;
}

.chip{
    padding: 4px 0px;
}

.precio{
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    color: #333;
    padding: 8px 0px;
}

.botonPrincipal{
    border-radius: 6px;
    background: #7F6BB6;
    display: flex;
    width: 90px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.linkPrimario{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.comentario{
    background-color: #FFF;
    padding: 8px;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.tituloComentario{
    color:#333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.descripcionComentario{
    color: #333;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.icono{
    color: #1A77BA;
}

.subtitulo{
    color:#333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.formComentario{
    padding: 12px 0px;
    flex-wrap: wrap;
    text-wrap: balance;
    content: balance;
}

.rating{
    margin: 12px 0px;
}

.botones{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    margin: 2px;
    width: 100%;

}

.contenedor{
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 2px;
    width: 100%;
}