.banner {
        display: flex;
        justify-content: space-around;
        height: 10%;
        width: 100%;
        align-self: center;
        align-items: center;
        flex: auto;
        justify-content: center;
}

.banner img{
        height: auto;
		width:100%;
}