.form{
    background-color: #fff;
    border-radius: 4px;
}

.botonRegistro{
    border-radius: 6px;
    background: #7F6BB6;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.linkRegistro{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.botonRegistroVolver{
    border-radius: 6px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0rem 0rem 4rem 0rem;
}

.linkVolver{
    color: #7F6BB6;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.botonesRegistro{
    width: 60%;
}