.botonesContratacion{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 4px;
    justify-content: space-between;
    gap: 8px;
}

.botonAceptada{
    border-radius: 6px;
    background: #7F6BB6;
    display: flex;
    width: 200px;
    padding: 10px 31px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

}

.botonCancelada{
    border-radius: 6px;
    border: 2px solid #7F6BB6;
    background: #FFF;
    display: flex;
    width: 200px;
    padding: 10px 31px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}


.linkCancelada{
    color: #7F6BB6;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.linkAceptada{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.chip{
    padding: 24px 0px 12px 0px;
}

.textoContacto{
color: #333;
align-self: stretch;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */

}

.moduloInfo{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 0px;
gap: 4px;
align-self: stretch;
width: 100%;
}

.textoCurso{
color: #1A77BA;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
width: 100%;
}

.finalizada{
color: #7F6BB6;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
width: 100%;
}

.cardSolicitud{
border-radius: 4px;
background: #F8F8FB;
box-shadow: 2px 2px 2px 0px rgba(173, 173, 173, 0.25);
display: flex;
padding: 16px 19px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
width: 35rem;
margin: 12px 0px;
}


.listadoSolicitudes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}