.listadoCategoria{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    margin: 30px;
}

.categoria{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.fotoCategoria{
    width: 100px;
    height: 100px;
    align-items: center;
}

.textoCategoria{
    color: #333;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}