.form{
    background-color: #fff;
    border-radius: 4px;
}


.bPrincipalPerfil{
    border-radius: 6px;
    border: 2px solid #7F6BB6;
    background: #7F6BB6;   
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.bSecundarioPerfil{
    display: flex;
    width: 250px;
    border-radius: 6px;
    border: 2px solid #7F6BB6;
    background: #fff;   
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0rem 0rem 4rem 0rem;


}

.botonesPerfil{
    width: 100%;
    gap: 1rem;
}

  .linkPrimario{
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.linkSecundario{
    color: #7F6BB6;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}