.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
    }

.menu-and-logo{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    border: 1px;
}

.menu-and-logo.top-element{
    flex: 1;
}

.ingresar{
    color: #333;
}

.miPerfil{
    color: #333;
}

.cerrarSesion{
    color: #333;
}
